#!/usr/bin/make -f

clean build install binary-indep binary-arch binary:
	dh $@

.PHONY: build clean install binary-indep binary-arch binary

override_dh_auto_clean:
	find . -name '*.[oa]' -delete
	rm -f po/*.gmo
	rm -f config.guess config.sub
	rm -f INSTALL depcomp install-sh stamp-h
	rm -f src/ansi2knr.[c1]
	rm -f doc/texinfo.tex doc/mdate-sh
	rm -f tests/yesno.txt
	xargs -d "\n" rm -fr < debian/generated.list
	rm -f debian/conf-tmp

override_dh_auto_configure: configure.ac
	autoreconf -fi
	dh_auto_configure -- $(conf_opts)

CFLAGS= -O3 -ldl
LDFLAGS= -Wl,-z,defs

conf_opts := --exec-prefix=/ \
	    --without-included-regex \
	    CFLAGS="$(CFLAGS)" \
	    LDFLAGS="$(LDFLAGS)"

# Generate configure.ac with ALL_LINGUAS matching the languages
# we have.
#
# From autogen.sh.
configure.ac: configure.ac.in
	set -e; ALL_LINGUAS=""; \
	for i in po/*.po; do \
		ALL_LINGUAS="$$ALL_LINGUAS `basename $$i .po`"; \
	done; \
	: Eliminate leading whitespace; \
	ALL_LINGUAS="`echo $$ALL_LINGUAS |cut -b1-`"; \
	sed -e "s,@ALL_LINGUAS@,$$ALL_LINGUAS," configure.ac.in >debian/conf-tmp
	cmp -s debian/conf-tmp configure.ac || \
	mv debian/conf-tmp configure.ac
