#!/usr/bin/make -f

clean build install binary-indep binary-arch binary:
	dh $@

.PHONY: build clean install binary-indep binary-arch binary

override_dh_auto_clean:
	find . -name '*.[oa]' -delete
	rm -f po/*.gmo
	rm -f config.guess config.sub
	rm -f INSTALL depcomp install-sh stamp-h
	rm -f src/ansi2knr.[c1]
	rm -f doc/texinfo.tex doc/mdate-sh
	xargs -d "\n" rm -fr < debian/generated.list

override_dh_auto_configure:
	autoreconf -fi
	dh_auto_configure -- $(conf_opts)

# disable test suite for now
override_dh_auto_test: ;

CFLAGS= -O3 -ldl
LDFLAGS= -Wl,-z,defs

conf_opts := --exec-prefix=/ \
	    --without-included-regex \
	    CFLAGS="$(CFLAGS)" \
	    LDFLAGS="$(LDFLAGS)"
