#!/usr/bin/make -f

CFLAGS= -O3 -ldl
LDFLAGS= -Wl,-z,defs

conf_opts := --exec-prefix=/ \
	    --without-included-regex \
	    CFLAGS="$(CFLAGS)" \
	    LDFLAGS="$(LDFLAGS)"

clean build:
	dh $@

override_dh_auto_configure: configure
	cp -f /usr/share/misc/config.sub /usr/share/misc/config.guess .
	dh_auto_configure -- $(conf_opts)

# disable test suite for now
override_dh_auto_test: ;

override_dh_auto_clean:
	if test -e Makefile; then $(MAKE) distclean; fi
	rm -f config.guess config.sub

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs
	$(MAKE) DESTDIR=$(CURDIR)/debian/grep install

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs README NEWS TODO AUTHORS THANKS
	dh_installexamples
	dh_installman
	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
